.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }
.sidebarWrapper {
    padding: 20px;
}
.sidebarList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarIcon{
    margin-right: 20px;
}
.sidebarlistItemText {
    margin-top: 10px;
}
.sidebarListItem:hover {
    background-color: rgb(138, 131, 131);
    cursor: pointer;
}
.sidebarButton{
    border: none;
    width: 150px;
    font-weight:500;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.sidebarButton:hover {
    color: #841617;
    font-size: 18px;
}
.sidebarhr {
    margin-top: 20px;
}

.friend {
    display: flex;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    
}
.imgFriend {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    object-fit: cover;
}
.friendName {
    margin-left: 15px;
    font-weight:500;
    font-size: 15px;
}